* { 
    outline: 1px dotted red ;
    margin: 0px;
    padding: 0px;
}
#desktop-navigation, #navigation-links {
    display: flex;
    align-items: center;
}

#desktop-navigation {
    justify-content: space-around;
    height: 15vh;
}

#name{
    font-size: 2em;
}

#navigation-links {
    gap: 2em;
    list-style: none;
    font-size: 1.5em;
}

#landing-section {
    display: flex;
    justify-content: center;
    gap: 5em;
    height: 85vh;
    padding-left: 30px;
}

#img-container {
    align-self: center;
}

img {
    border-radius: 50%;
    align-self: center  ;
    width: 400px;
    height: 400px;
}

#landing-text {
    width: 30em; /* width provided because without it the picture to the left would also move */
    /*Switched from ch to em because em adjusts for font-size  */
    align-self: center;
}

#i-am {
}

#typingEffect
{
    font-size: 40px;
}

#everything-else-flex {
    display: flex;
    height: 100vh;
}

#menu-tab{
    width: 35%;
    align-self: center;
}

#menu-tab-item {
    width: 65%;
}

#navigation-bottom {
}

#navigation-bottom-links {
    list-style: none;
    text-align: center;
}

.spread-out {
    margin-bottom: 5em;
}




#cursor {
    animation: myBlinker 1s infinite step-start;
    font-size: 40px;
}

@keyframes myBlinker {
    50% {
        opacity:0;
    }
}